body{
	background-color: grey;
    display: inline-block;
}

input[type="button"]{
    font-family: Comic Sans MS;
    width: 150px;
    height: 40px;
}

#canvas{
   border: solid;
}

#escolhas button {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
}

#escolhas button:hover {
    cursor: pointer;
    border: 1px solid black;
}
