body{
	background-color: grey;
    display: inline-block;
    text-align: center;
}

input[type="button"]{
    font-family: Comic Sans MS;
    border-radius: 50px;
    width: 150px;
    height: 40px;
}

#canvas{
   border: solid;
   margin-top: 50px;
   
}

#imagem{
    border:solid;
}

#escolhas button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid white;
}

#escolhas button:hover {
    cursor: pointer;
    border: 1px solid black;
}